In [28]:
import pandas as pd

data = pd.read_csv("instat-tp2.csv")

data = data.fillna("") # visually clear NaN cells
data

                 Region Urbain Masculin  ... Quintile Plus Riche Quintile Ensemble
0            Analamanga            56,9  ...                61,8              49,2
1         Vakinakaratra            43,2  ...                62,6              23,3
2                 Itasy            50,6  ...                62,8              22,4
3             Bongolava            46,8  ...                61,4              20,1
4       Haute Matsiatra            49,6  ...                65,4              24,7
5        Amoron'i Mania            39,1  ...                60,4              20,3
6   Vatovavy Fitovinany            38,7  ...                52,2              13,8
7              Ihorombe            32,2  ...                50,3              12,9
8     Atsimo Atsinanana              40  ...                  48              12,4
9            Atsinanana            45,7  ...                54,9              21,5
10         Analanjirofo            50,1  ...                52,1              25,5
11      Alaotra Mangoro            45,4  ...                58,7              26,5
12                Boeny            48,9  ...                61,3              26,4
13                Sofia            55,9  ...                57,4              23,2
14            Betsiboka            30,5  ...                48,3              13,2
15               Melaky            24,7  ...                43,8               7,9
16     Atsimo Andrefana            34,5  ...                54,2              14,1
17               Androy            27,9  ...                60,2              10,1
18               Menabe            42,4  ...                58,3              14,9
19                Diana            56,2  ...                60,8              33,8
20                 Sava            50,4  ...                  49              26,9
21           MADAGASCAR            47,8  ...                59,5              24,4

[22 rows x 16 columns]

L'ensemble de données ici présentée est en provenance de l'INSTAT MADAGASCAR. Il recense le Recensement Général de la Population et de l'Habitation (RGPH) en l'an 2018. 

## Structure

In [37]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Region                22 non-null     object
 1   Urbain Masculin       22 non-null     object
 2   Urbain Feminin        22 non-null     object
 3   Urbain Total          22 non-null     object
 4   Rural Masculin        22 non-null     object
 5   Rural Feminin         22 non-null     object
 6   Rural Total           22 non-null     object
 7   Total Masculin        22 non-null     object
 8   Total Feminin         22 non-null     object
 9   Total Total           22 non-null     object
 10  Quintile Plus Pauvre  22 non-null     object
 11  Quintile 2eme         22 non-null     object
 12  Quintile 3eme         22 non-null     object
 13  Quintile 4eme         22 non-null     object
 14  Quintile Plus Riche   22 non-null     object
 15  Quintile Ensemble     22 non-null     object
dtypes: object(16)
memory usage: 2.9+ KB

In [35]:
# import seaborn as sbn 
# sbn.pairplot(data)
data.describe()
# data.plot()

            Region Urbain Masculin  ... Quintile Plus Riche Quintile Ensemble
count           22              22  ...                  22                22
unique          22              22  ...                  22                22
top     Analamanga            56,9  ...                61,8              49,2
freq             1               1  ...                   1                 1

[4 rows x 16 columns]